[Unit]
Description=Share Board Django Application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/share-board/backend
Environment="PATH=/home/ubuntu/.local/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/local/bin/pipenv run gunicorn share_board.wsgi:application --workers 3 --bind unix:/run/share-board.sock

[Install]
WantedBy=multi-user.target